body {
  height: 100%;
  width: 100%;
  margin:0%;
}

.main {
  display: flex;
}

.mapWrapper {
  height: 100vh;
  width: 85%;
}

.loadingSpinner {
  margin-top: 50vh;
  margin-left: 50vw;
}

.legendWrapper {
  width: 15%;
  max-height: 100vh;
  margin-bottom: 10px;
  background-color: #e9ecef;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}

.legendMarker {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 2px solid #fff;
  border-radius: 100%;
}

.accordionTop {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.drowpdownArrow {
  align-self: center;
  margin-left: auto;
}

.marker {
  position: absolute;
  margin-right: 10px;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 100%;
  user-select: none;
  transform: translate(-50%, -50%);
  z-index: -1;
  cursor: pointer;
}

.popoverTitle {
  display: flex;
}

.popoverBody {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleText {
  margin-right: 10px;
}

.titleDates {
  margin-left: auto;
} 

.familyItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}